
  <div class='container'>
    <% @questions.each do |q| %>
        <div class='boxes' data-target='<%= question_path(q) %>'>
            <div class="media m-3" >
                <img src='<%= q.gravatar %>' class="mr-3 d-none d-md-block" alt="...">
                <div class="media-body">
                    <div class="mt-0"><%= q.email %> asked:</div>
                    <hr>
                    <div class="small time d-sm-none d-none d-md-block"><%= time_ago_in_words q.created_at %> ago</div>
                    <h5><%= truncate q.body, length: 150%></h5>
                    <div class='mt-2 d-sm-none d-none d-md-block'>
                        <a href='<%= question_path(q) %>'>
                            <button type="button" class="answer-btn btn btn-success btn-sm">View Answers</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <% if @questions.empty? %>
    <div class='mt-5'> 
        <div class='alert alert-info'>No questions here yet. Go ahead, ask one!</div>
    </div>
    <% end %>
    </div>

  