
  <div class='container'>
    <% @questions.each do |q| %>
        <div class='container bg-light p-4 m-4'>
            <div class="media  ">
                <img src='<%= q.gravatar %>' class="mr-3" alt="...">
                <div class="media-body">
                    <div class="mt-0"><%= q.email %> asked:</div>
                    <hr>
                    <div class="small"><%= time_ago_in_words q.created_at %> ago</div>
                    <h5><%= q.body %></h5>
                    <div class='mt-2'>
                        <a href='<%= question_path(q) %>'>
                            <button type="button" class="btn btn-success btn-sm">View Answers</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <% if @questions.empty? %>
    <div class='mt-5'> 
        <div class='alert alert-info'>No questions here yet. Go ahead, ask one!</div>
    </div>
    <% end %>
    </div>

  